* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


